a {
    color:  rgb(75, 48, 29);
}
a:link {
    color:  rgb(75, 48, 29);
    text-decoration: none;
}
a:hover {
    color:  rgb(75, 48, 29);
    text-decoration: none;
}
a:visited {
    color:  rgb(75, 48, 29);
    text-decoration: none;
}
a:active {
    color:  rgb(75, 48, 29);
    text-decoration: none;
}