.wardrobe-right {
    background-color:  rgb(159, 164, 182);
}
.wardrobe-btn {
    background-color: rgb(159, 164, 182);
}.wardrobe-btn :hover{
    background-color: rgb(131, 135, 150);
}
#smaller {
    width: 30% !important;
}