.wardrobe-right {
    background-color: rgb(182, 129, 129);
}
#tights-btn {
    background-color: rgb(182, 129, 129);
    border: none;
    padding: 5px;
    height: 200px;
}
#tights-btn :hover {
    background-color:rgb(162, 112, 112);
}
#tights-img {
    height: 200px;
}
.wardrobe-btn {
    background-color: rgb(182, 129, 129);
}.wardrobe-btn :hover{
    background-color:rgb(162, 112, 112);
}