.wardrobe-right {
    background-color: rgb(164, 181, 204);
}
button {
    background-color: rgb(164, 181, 204);
    border: none;
    padding: 5px;
    size: auto;
}button :hover{
    background-color:rgb(140, 155, 176);
}