.game-box{
    display: flex;
    padding: 5px;
}

.doll-left {
    width: 50%;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
}
#base-layer {
    position: relative;
    top: 0;
    left: 0;
    width: 530px;
}
.clothing {
    position: absolute;
    top: 0; 
    left: 0;
    width: 530px;
    display: none;
}
.wardrobe-right {
    background-color: rgb(94, 101, 85);
    width: 50%;
    overflow: scroll;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

button {
    background-color: rgb(94, 101, 85);
    border: none;
    padding: 50px;
    size: auto;
}button :hover{
    background-color:rgb(73, 79, 66);
}button img {
    width: 100px;
}